# ---
# Same rules from .gitignore
# ---
/node_modules
/vendor

/public/build
/public/hot
/public/storage
/public/js/skins

.env
.env.testing
.env.backup
.eslintcache
.idea
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php

*.iws
**/.DS_Store

auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

bootstrap/cache/*
database/*.sqlite*
storage/app/*
!storage/app/public/
storage/app/public/*
storage/framework/*
!storage/framework/cache/
storage/framework/cache/*
!storage/framework/cache/data/
storage/framework/cache/data/*
!storage/framework/sessions/
storage/framework/sessions/*
!storage/framework/testing/
storage/framework/testing/*
!storage/framework/views/
storage/framework/views/*
!storage/framework/logs/
storage/framework/logs/*
storage/debugbar/
storage/*.key

# ---
# Rules for .dockerignore only
# ---
.git
.aws
.vscode
**/*.md

!.gitkeep
!**.gitignore
